.main_component{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: start;
    align-items: center;
}

.mainDiv{

    margin:2rem;
}

.formMain{
    margin:1rem;
}


.pad{
    margin:0.5rem;
}