.heroDiv{
    width: 100%;
}
.heroImg{
    width: 90%;
    height: 100vh;
    border-radius: 10rem;
}

@media only screen and (max-width: 700px) {

    .heroImg{height: auto;}
}

.hr{
    width: 93%;
    margin:0 auto;
    margin-top:2rem;
}
.videoClass{
    /* width: 2rem; */
    height: 12rem;
     margin-bottom: 2rem;
}

.vid{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
    width: 100%;
}

.text-on-image {
    /* position: absolute; */
    bottom: 70%;
    right: 60%;
    background-color:#2d333d;
    border-style:solid;
    border-color: white #2d333d white #2d333d;

    
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-left:-2rem;
    text-transform:capitalize;

    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem
;
    margin-top: 1rem
;
  }

  .rela{
      position:relative
  }

  .h1Prop{
color:white;
    margin-top: 1rem;
  }